* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1vmin;
  font-family: sans-serif;
  overflow: hidden;
}

@media (min-width: 600px) and (min-height: 600px) {
  html {
    font-size: 6px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  touch-action: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sudoku {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-gap: 1rem;
  user-select: none;
}

.sudoku x-cell {
  width: 7rem;
  height: 7rem;
  font-size: 4rem;
  text-align: center;
  border: 0.5rem solid #eee;
}

.sudoku x-cell:nth-child(3),
.sudoku x-cell:nth-child(6) {
  margin-right: 2rem;
}

.sudoku x-cell:nth-child(27),
.sudoku x-cell:nth-child(54) {
  margin-bottom: 2rem;
}

.sudoku x-cell[disabled] {
  border: none;
  background: #eee;
  font-weight: bold;
}

#icon {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 30px;
  padding: 10px;
  background: transparent;
  cursor: pointer;
}

#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#menu .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(231, 237, 236, 0.40);
  
}

#menu .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background: green;
  max-width: 75vw;
  font-size: 20px;
  padding: 5px;
  color: white;
}

#menu .sidebar > * {
  border: 1px solid yellow;
  border-radius: 25%;
  padding: 3px;
  margin: 5px;
}
#about, #how {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(231, 237, 236, 0.40);
  display: grid;
  justify-content: center;
  align-items: center;
}

#about > * {
  max-height: 65%;
  font-size: 20px;
  background: rgb(178, 219, 181);
  padding: 10px;
  box-shadow: 1px 2px 20px 8px rgba(0, 0, 0, 0.16);
}

#how > * {
  box-shadow: 1px 2px 20px 8px rgba(0, 0, 0, 0.16);
}

#winner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #050d15;
  color: rgb(252, 133, 47);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  z-index: 100;
  opacity: 0;
  display: none;
}

#winner > .video {
  width: 100vw;
  max-width: 720px;
  height: auto;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
  background: #050d15;
}

#winner > h1 {
  font-size: 8rem;
  text-align: center;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
  z-index: 10;
  transform: scale(0);
}
