* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1vmin;
  font-family: sans-serif;
  overflow: hidden;
}
@media (min-width: 600px) and (min-height: 600px) {
  html {
    font-size: 6px;
  }
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  touch-action: none;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sudoku {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-gap: 1rem;
  user-select: none;
}
.sudoku x-cell {
  width: 7rem;
  height: 7rem;
  font-size: 4rem;
  text-align: center;
  border: 0.5rem solid #eee;
}
.sudoku x-cell:nth-child(3),
.sudoku x-cell:nth-child(6) {
  margin-right: 2rem;
}
.sudoku x-cell:nth-child(27),
.sudoku x-cell:nth-child(54) {
  margin-bottom: 2rem;
}
.sudoku x-cell[disabled] {
  border: none;
  background: #eee;
  font-weight: bold;
}
